<div class="payment-options">
	<span>
		<label><input type="checkbox"> Банковский перевод</label>
	</span>
	<span>
		<label><input type="checkbox"> Выбор метода оплаты</label>
	</span>
	<span>
		<label><input type="checkbox"> Paypal</label>
	</span>
</div>
