<div class="register-req">
	<p>Пожалуйста, используйте "Зарегистрироваться и оформить заказ" для получения лёгкого доступа к истории своих заказов, либо Вы можете оформить заказ без регистрации</p>
</div><!--/register-req-->

<div class="shopper-informations">
	<div class="row">
		<div class="col-sm-3">
			<div class="shopper-info">
				<p>Инфрмация о покупателе</p>
				<form>
					<input type="text" placeholder="Отображаемое имя">
					<input type="text" placeholder="Имя пользователя">
					<input type="password" placeholder="Пароль">
					<input type="password" placeholder="Подтверждение пароля">
				</form>
				<a class="btn btn-primary" href="">Get Quotes</a>
				<a class="btn btn-primary" href="">Продолжить</a>
			</div>
		</div>
		<div class="col-sm-5 clearfix">
			<div class="bill-to">
				<p>Счёт в адрес</p>
				<div class="form-one">
					<form>
						<input type="text" placeholder="Компания">
						<input type="text" placeholder="Адрес электронной почты*">
						<input type="text" placeholder="Заголовок">
						<input type="text" placeholder="Фамилия *">
						<input type="text" placeholder="Имя">
						<input type="text" placeholder="Отчество *">
						<input type="text" placeholder="Адрес 1 *">
						<input type="text" placeholder="Адрес 2">
					</form>
				</div>
				<div class="form-two">
					<form>
						<input type="text" placeholder="Индекс *">
						<select>
							<option>-- Country --</option>
							<option>США</option>
							<option>Бангладеш</option>
							<option>Англия</option>
							<option>Индия</option>
							<option>Пакистан</option>
							<option>Россия</option>
							<option>Канада</option>
							<option>Дубаи</option>
						</select>
						<select>
							<option>-- State / Province / Region --</option>
							<option>США</option>
							<option>Бангладеш</option>
							<option>Англия</option>
							<option>Индия</option>
							<option>Пакистан</option>
							<option>Россия</option>
							<option>Канада</option>
							<option>Дубаи</option>
						</select>
						<input type="password" placeholder="Подтверждение пароля">
						<input type="text" placeholder="Телефон *">
						<input type="text" placeholder="Мобильный телефон">
						<input type="text" placeholder="Факс">
					</form>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="order-message">
				<p>Shipping Order</p>
				<textarea name="message"  placeholder="Оставьте здесь описание к заказу" rows="16"></textarea>
				<label><input type="checkbox"> Отправить чек на адрес доставки</label>
			</div>
		</div>
	</div>
</div>