@model IEnumerable<string>;

@{
	ViewBag.Title = "Тестовое WebAPI";
}

<div class="container">
	<table class="table">
		<thead>
			<tr>
				<th>#</th>
				<th>Value</th>
			</tr>
		</thead>
		<tbody>
			@{var i = 1;}
			@foreach(var value in Model)
			{
				<tr>
					<th>@(i++)</th>
					<th>@value</th>
				</tr>
			}
		</tbody>
	</table>
</div>