
@{
	ViewBag.Tile = "Оформить заказ";
}

<section id="cart_items">
	<div class="container">
		
		<partial name="Partial/_CeckoutOptions"/>
		<partial name ="Partial/_ShopperInformations"/>
		<partial name ="Partial/_ReviewPayment"/>
		<partial name ="Partial/_PaymentOptions"/>
		
	</div>
</section> <!--/#cart_items-->
