<!DOCTYPE html>

<html>
	<head>
		<title>
			Главная страница
		</title>
	</head>

	<body>
		<h3>Заголовок</h3>
		<p>Привет из представления!</p>
		<hr />

		<a href="~/Home/Employees">Список сотрудников</a>
	</body>
</html>
