<div class="breadcrumbs">
		<ol class="breadcrumb">
			<li><a href="#">Home</a></li>
			<li class="active">Оформление заказа</li>
		</ol>
	</div><!--/breadcrums-->

	<div class="step-one">
		<h2 class="heading">Шаг 1</h2>
	</div>
	<div class="checkout-options">
		<h3>Новый пользователь</h3>
		<p>Оформить заказ options</p>
		<ul class="nav">
			<li>
				<label><input type="checkbox"> Зарегистрироваться</label>
			</li>
			<li>
				<label><input type="checkbox"> Оформить без регистрации</label>
			</li>
			<li>
				<a href=""><i class="fa fa-times"></i>Отмена</a>
			</li>
		</ul>
	</div><!--/checkout-options-->